{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card border-danger" style="width: 40rem; height: auto; padding: 40px;">
        <img src="static/Logo.png" class="logo">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="exampleInputUsernamel" class="text-danger">Username</label>
                <input type="text" class="form-control text-danger" id="exampleInputUsername" name="username" placeholder="Enter Username" autofocus autocomplete="off">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword" class="text-danger">Password</label>
                <input type="password" class="form-control text-danger" id="exampleInputPassword" name="password" placeholder="Enter Password" autofocus autocomplete="off">
            </div>
            <div class="enter_space"></div>
            <button class="login btn btn-danger" type="submit">Log In</button>
        </form>
        <br>
        <div class="text-danger text-center blinkError">{{ errors }}</div>
    </div>
{% endblock %}

{% block footer %}
    Website created by <a href="http://aaronjay.ml">Aaron Jay Gabato</a>. View social media account <a href="https://www.facebook.com/gabato.aaron30">Facebook</a> <a href="https://www.instagram.com/aaaaarondalla/">Instagram</a>.
{% endblock %}
